{
    "parserOptions": {
      "sourceType": "module"
    },
    "env": {
      "browser": true,
      "jquery": true,
      "es6": true,
      "node": true
    },
    "globals": {
      "joint": true,
      "_": true,
      "g": true,
      "app": true,
      "V": true,
      "Pace": true
    },
    "parser": "babel-eslint",
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "google"
    ],
    "rules": {
      "react/jsx-filename-extension": 0,
      "react/jsx-uses-vars": [
        2
      ],
      "import/no-extraneous-dependencies": 0,
      "max-len": 0,
      "require-jsdoc": 0,
      "valid-jsdoc": 0,
      "no-multi-str": 0,
      "react/no-find-dom-node": 0,
      "no-console": 0,
      "indent": [
        "error",
        2
      ],
      "linebreak-style": 0
    },
    "settings": {
      "react": {
        "createClass": "createReactClass",
        "pragma": "React", 
        "version": "detect"
      },
      "propWrapperFunctions": [
          "forbidExtraProps",
          {"property": "freeze", "object": "Object"},
          {"property": "myFavoriteWrapper"}
      ]
    }
    }